


nav {
    width: 100%;
    background-color: black;
    top: 0px;
}


li {
    list-style-type: none;
    color: white;
    display: inline;
    margin: 20px;
    text-align: right;
    margin-right: 0px;
}